<!-- <div class="container" (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)">

<div class="container">
    <div class="background"></div>

    <div class="main-title">CLUBWIZ</div>
    <div class="subtitle"><b> IGNITE THE <span>{{dynamicText}}</span></b></div>
    <div class="quote-container">
        <div class="quote">
            <span class="quote-mark">“</span>
            <b>
                DISCOVER THE VIBRANT HEARTBEAT OF NIGHTLIFE IN YOUR CITY, IMMERSING YOURSELF IN UNFORGETTABLE
                EXPERIENCES.
            </b>
            <span class="quote-mark">”</span>
        </div>
    </div>
</div>
</div> -->


<div class="home-container">
    <div class="header">
      <h1>CLUBWIZ</h1>
      <h2>IGNITE THE <span>SOUL</span></h2>
    </div>
    <div class="content">
      <p>
        <span class="quote-start">“</span>DISCOVER THE VIBRANT HEARTBEAT OF NIGHTLIFE IN YOUR CITY, IMMERSING YOURSELF IN UNFORGETTABLE EXPERIENCES<span class="quote-end">”</span>
      </p>
    </div>
  </div>
  